<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wd201</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1 style="text-align: center;">Todo Home page</h1>
    <%- include('header.ejs') %>
    <%- include('footers.ejs') %>
    <%- include('todos.ejs') %>
</body>
</html>