<% if (messages && messages.success && messages.success.length > 0) { %>
    <% messages.success.forEach(function(message) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
    <% }); %>
<% } %>
<% if (messages && messages.error && messages.error.length > 0) { %>
    <% messages.error.forEach(function(message) { %>
        <div class="alert alert-error">
            <%= message %>
        </div>
    <% }); %>
<% } %>