<table>
    <%for(var i=0; i<allTodos.lenght;i++ ){ %>
        <td><%= allTodos[i].id %></td>
        <td><%= allTodos[i].dueDate %></td>
        <tr><td><%= allTodos[i].title %></td></tr>
    <%} %>
</table>